@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-body scroll-smooth;
  }
  body {
    @apply min-h-screen text-black transition-all bg-archiveBlue-500;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title;
  }
  p {
    @apply text-gray-800;
  }
}

@layer utilities {
  .gradient-background {
    @apply bg-archiveBlue-500 bg-gradient-to-t from-archiveBlue-600 to-archiveBlue-400;
  }
  .ohnohoney {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
  }
  .table-cell {
    @apply px-4 py-2 border border-black text-center;
  }
}
